<body>
    
<header>
    <div class="row justify-content-between align-items-center" style="height: 50px;">
        <div class="col-sm-2 col-md-2 col-xl-2 header-logo">
            <img src="Images/logo-green-rotated.png" alt="">
        </div>
        <div class="col-sm-6 col-md-6 col-xl-6">
            <ul class="navigation-bar" style="list-style: none;">
                <li class="menu-item">
                    <a style="text-decoration: none;" href="/">HOME</a>
                </li>
                <li class="menu-item">
                    <a style="text-decoration: none;" href="/about">ABOUT</a>
                </li>
                <li class="menu-item dropdown">
                    <a style="text-decoration: none;" class="dropdown-toggle" href="#" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP</a>
                    <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                        <li><a class="dropdown" style="text-decoration: none;" href="/mens-wear">Men's Clothes</a></li>
                        <li><a class="dropdown" style="text-decoration: none;" href="/womens-wear">Women's Clothes</a></li>
                        <li><a class="dropdown" style="text-decoration: none;" href="/kids-wear">Kids Clothes</a></li>
                    </ul>
                </li>
                <li class="menu-item">
                    <a style="text-decoration: none;" href="/contact">CONTACT</a>
                </li>
            </ul>
        </div>

        <div class="col-sm-2 col-md-2 col-xl-2 header-buttons">
            <button id="dark-mode" class="dark">
                <i class='bx bxs-moon' ></i>
            </button>
            <button id="light-mode" class="light" style="display: none;">
                <i class='bx bxs-sun' ></i>
            </button>
            <button id="profile" class="profile">
                <i class='bx bxs-user-circle' ></i>
            </button>
        </div>
    </div>
</header>

<section class="about-intro">

    <div class="row about-main">
        <div class="col-sm-6 col-md-6 col-xl-6 left">
            <div class="left-first">
                <h1>ABOUT</h1>
            </div>
            <div class="left-second">
                <img src="Images/image-aboutus.png" alt="">
            </div>
        </div>

        <div class="col-sm-6 col-md-6 col-xl-6 right">
              <div class="right-first">

              </div>
              <div class="right-second">
                <img src="Images/image-aboutus.png" alt="">
              </div>
              <div class="right-third">
                <img src="Images/image-aboutus.png" alt="">
              </div>  
        </div>
    </div>

</section>


<script src="/js/about-script.js"></script>
</body>

