

<!doctype html>
<html lang="en">
  <head>
  	<title>Eleganza Attire - Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/contact.css">

	</head>
	<body>
        <header>
            <div class="row justify-content-between align-items-center" style="height: 50px;">
                <div class="col-sm-2 col-md-2 col-xl-2 header-logo">
                    <img src="Images/logo-green-rotated.png" alt="">
                </div>
                <div class="col-sm-6 col-md-6 col-xl-6">
                    <ul class="navigation-bar" style="list-style: none;">
                        <li class="menu-item">
                            <a style="text-decoration: none;" href="/">HOME</a>
                        </li>
                        <li class="menu-item">
                            <a style="text-decoration: none;" href="/about">ABOUT</a>
                        </li>
                        <li class="menu-item dropdown">
                            <a style="text-decoration: none;" class="dropdown-toggle" href="/shop" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP</a>
                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                                <li><a class="dropdown" style="text-decoration: none;" href="/mens-wear">Men's Clothes</a></li>
                                <li><a class="dropdown" style="text-decoration: none;" href="/womens-wear">Women's Clothes</a></li>
                                <li><a class="dropdown" style="text-decoration: none;" href="/kids-wear">Kids Clothes</a></li>
                            </ul>
                        </li>
                        <li class="menu-item">
                            <a style="text-decoration: none;" href="/contact">CONTACT</a>
                        </li>
                    </ul>
                </div>
        
                <div class="col-sm-2 col-md-2 col-xl-2 header-buttons">
                    <button id="dark-mode" class="dark">
                        <i class='bx bxs-moon' ></i>
                    </button>
                    <button id="light-mode" class="light" style="display: none;">
                        <i class='bx bxs-sun' ></i>
                    </button>
                    <button id="profile" class="profile">
                        <i class='bx bxs-user-circle' ></i>
                    </button>
                </div>
            </div>
        </header>

	<section class="ftco-section">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-md-12">
					<div class="wrapper">
						<div class="row mb-5">
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-map-marker"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Address:</span> Partizanska BB, Bitola 7000</p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-phone"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Phone:</span> <a href="tel://1234567920">+389 077 973 330</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-paper-plane"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Email:</span> <a href="https://mail.google.com/mail/u/0/#inbox?compose=GTvVlcRzDfXhKfNlckzGwjHHMvrqVsWZnQfsFszScnpnQPltRRsPHHSHnDxZMFgwhPnwNHLqWTbzr">mende.neshkovski11@gmail.com</a></p>
				          </div>
			          </div>
							</div>
							<div class="col-md-3">
								<div class="dbox w-100 text-center">
			        		<div class="icon d-flex align-items-center justify-content-center">
			        			<span class="fa fa-globe"></span>
			        		</div>
			        		<div class="text">
				            <p><span>Website</span> <a href="#">elegenzaattire.com</a></p>
				          </div>
			          </div>
							</div>
						</div>
						<div class="row no-gutters">
							<div class="col-md-7">
								<div class="contact-wrap w-100 p-md-5 p-4">
									<h3 class="mb-4">Contact Us</h3>
									<div id="form-message-warning" class="mb-4"></div> 
				      		<div id="form-message-success" class="mb-4">
				            Your message was sent, thank you!
				      		</div>
									<form method="POST" id="contactForm" name="contactForm" class="contactForm" id="contactForm">
										<div class="row">
											<div class="col-md-6">
												<div class="form-group">
													<label class="label" for="name">Full Name</label>
													<input type="text" class="form-control" name="name" id="name" placeholder="Name" required>
												</div>
											</div>
											<div class="col-md-6"> 
												<div class="form-group">
													<label class="label" for="email">Email Address</label>
													<input type="email" class="form-control" name="email" id="email" placeholder="Email" required>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="subject">Subject</label>
													<input type="text" class="form-control" name="subject" id="subject" placeholder="Subject" required>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<label class="label" for="#">Message</label>
													<textarea name="message" class="form-control" id="message" cols="30" rows="4" placeholder="Message" required></textarea>
												</div>
											</div>
											<div class="col-md-12">
												<div class="form-group">
													<input type="submit"  value="Send Message" class="btn btn-primary">
													<div class="submitting"></div>
												</div>
											</div>
										</div>
									</form>
								</div>
							</div>
							<div class="col-md-5 d-flex align-items-stretch">
								<div class="info-wrap w-100 p-5 img " style="background-image: url(Images/logo-green.png);">
			          </div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>

	<script>
		document.addEventListener("DOMContentLoaded", function() {
    // Dark Mode functionality
    const darkModeButton = document.getElementById('dark-mode');
    const moonIcon = document.querySelector('.dark');
    const sunIcon = document.querySelector('.light');
    const body = document.querySelector('body');
    const header = document.querySelector('header');
    const sections = document.querySelectorAll('section');
    const pattern = document.querySelector('.pattern');
    const container = document.querySelector('.sorting-container')
  
    // Function to toggle dark mode
    function toggleDarkMode() {
        body.classList.toggle('dark-mode');
        header.classList.toggle('dark-mode');
        sections.forEach(section => section.classList.toggle('dark-mode'));
        pattern.classList.toggle('dark-mode');
        container.classList.toggle('dark-mode');
    }
  
    // Event listener for dark mode button
    darkModeButton.addEventListener('click', function() {
        // Toggle dark mode
        toggleDarkMode();
        
        // Toggle visibility of moon and sun icons
        moonIcon.style.display = 'none';
        sunIcon.style.display = 'block';
    });
  
    // Event listener for sun icon (light mode)
    sunIcon.addEventListener('click', function() {
        // Toggle dark mode
        toggleDarkMode();
        
        // Toggle visibility of moon and sun icons
        moonIcon.style.display = 'inline-block';
        sunIcon.style.display = 'none';
    });
});  
	</script>

	<script src="/js/jquery.min.js"></script>
  <script src="/js/popper.js"></script>
  <script src="/js/bootstrap.min.js"></script>
  <script src="/js/jquery.validate.min.js"></script>
  <script src="/js/contact.js"></script>

	</body>
</html>