
<!doctype html>
<html lang="en">
  <head>
  	<title>Eleganza Attire - Contact</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

	<link href='https://fonts.googleapis.com/css?family=Roboto:400,100,300,700' rel='stylesheet' type='text/css'>

	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://unicons.iconscout.com/release/v2.1.9/css/unicons.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/4.5.0/css/bootstrap.min.css">
    <link rel="stylesheet" href="/styles/homepage.css">
</head>
<header>
        <div class="row justify-content-between align-items-center" style="height: 50px;">
            <div class="col-sm-2 col-md-2 col-xl-2 header-logo">
                <img src="Images/logo-green-rotated.png" alt="">
            </div>
            <div class="col-sm-6 col-md-6 col-xl-6">
                <ul class="navigation-bar" style="list-style: none;">
                    <li class="menu-item">
                        <a style="text-decoration: none;" href="/">HOME</a>
                    </li>
                    <li class="menu-item">
                        <a style="text-decoration: none;" href="/about">ABOUT</a>
                    </li>
                    <li class="menu-item dropdown">
                        <a style="text-decoration: none;" class="dropdown-toggle" href="/shop" role="button" id="dropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">SHOP</a>
                        <ul class="dropdown-menu" aria-labelledby="dropdownMenuLink">
                            <li><a class="dropdown" style="text-decoration: none;" href="/mens-wear">Men's Clothes</a></li>
                            <li><a class="dropdown" style="text-decoration: none;" href="/womens-wear">Women's Clothes</a></li>
                            <li><a class="dropdown" style="text-decoration: none;" href="/kids-wear">Kids Clothes</a></li>
                        </ul>
                    </li>
                    <li class="menu-item">
                        <a style="text-decoration: none;" href="/contact">CONTACT</a>
                    </li>
                </ul>
            </div>

            <div class="col-sm-2 col-md-2 col-xl-2 header-buttons">
                <button id="dark-mode" class="dark">
                    <i class='bx bxs-moon' ></i>
                </button>
                <button id="light-mode" class="light" style="display: none;">
                    <i class='bx bxs-sun' ></i>
                </button>
                <button id="profile" class="profile">
                    <i class='bx bxs-user-circle' ></i>
                </button>
            </div>
        </div>
</header>

    <section id="hero-section" class="hero-section">
    <div class="homepage-main">
        <div class="homepage-left">
            <img src="Images/homepage-left.png" alt="">
        </div>

        <div class="homepage-middle">
            <div class="image">
                <img src="Images/logo-green.png" alt="">
            </div>

            <button class="cssbuttons-io-button">
                Shop Now
                <div class="icon">
                    <i class='bx bxs-cart-alt'></i>
                </div>
            </button>              
        </div>

        <div class="homepage-right">
            <img src="Images/homepage-right.png" alt="">
        </div>
        

        
    
    </div>
    <div class="custom-shape-divider-bottom-1712760248">
        <svg data-name="Layer 1" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1200 120" preserveAspectRatio="none">
            <path d="M892.25 114.72L0 0 0 120 1200 120 1200 0 892.25 114.72z" class="shape-fill"></path>
        </svg>
    </div>

   
</section>




<section class="best-sellers">
    <div class="main-title">
        <h1>Best Sellings Products</h1>
    </div>
    <div class="sellers">
        <div class="card">
            <div class="title">
                <h1>Best Kids Seller</h1>
            </div>
            <div class="product-image">
                <img src="Images/front-hoodie.png" alt="Eleganza" draggable="false">
                <img src="Images/back-hoodie.png" alt="Eleganza" draggable="false"/>
            </div>
            <div class="product-info">
                <h2>Eleganza Hoodie</h2>
                <p>Eleganza First Edition hoodie with top quality material</p>
                <div class="price">$15.99</div>
            </div>
            <button class="cssbuttons-io-button">
                Shop Now
                <div class="icon">
                    <i class='bx bxs-cart-alt'></i>
                </div>
            </button> 
            </div>
            <div class="card">
                <div class="title">
                    <h1>Best Men's Seller</h1>
                </div>
                <div class="product-image">
                    <img src="Images/front-hoodie.png" alt="Eleganza" draggable="false">
                    <img src="Images/back-hoodie.png" alt="Eleganza" draggable="false"/>
                </div>
                <div class="product-info">
                    <h2>Eleganza Hoodie</h2>
                    <p>Eleganza First Edition hoodie with top quality material</p>
                    <div class="price">$20.99</div>
                </div>
                <button class="cssbuttons-io-button">
                    Shop Now
                    <div class="icon">
                        <i class='bx bxs-cart-alt'></i>
                    </div>
                </button> 
                </div>
            <div class="card">
                <div class="title">
                    <h1>Best Women's Seller</h1>
                </div>
            <div class="product-image">
                <img src="Images/front-hoodie.png" alt="Eleganza" draggable="false">
                <img src="Images/back-hoodie.png" alt="Eleganza" draggable="false"/>
            </div>
            <div class="product-info">
                <h2>Eleganza Hoodie</h2>
                <p>Eleganza First Edition hoodie with top quality material</p>
                <div class="price">$20.99</div>
            </div>
            <button class="cssbuttons-io-button">
                Shop Now
                <div class="icon">
                    <i class='bx bxs-cart-alt'></i>
                </div>
            </button> 
        </div>
    </div>
    
          
</section>



<section>
    <div class="parts-container">
        <div class="part part1">
            <div class="part-text">Shop Kids</div>
            <button class="cssbuttons-io-button parts-button">
                Shop Now
                <div class="icon">
                    <i class='bx bxs-cart-alt'></i>
                </div>
            </button>              
        </div>
        <div class="part part2">
            <div class="part-text">Shop Men</div>
            <button class="cssbuttons-io-button parts-button">
                Shop Now
                <div class="icon">
                    <i class='bx bxs-cart-alt'></i>
                </div>
            </button>              
        </div>
        <div class="part part3">
            <div class="part-text">Shop Women</div>
            <button class="cssbuttons-io-button parts-button">
                Shop Now
                <div class="icon">
                    <i class='bx bxs-cart-alt'></i>
                </div>
            </button>              
        </div>
    </div>
</section>



<footer>
    <div class="footer-container">
      <div class="row">
        <div class="col-md-4">
          <img src="Images/logo-green.png" style="max-height: 400px;" alt="Logo" class="logo">
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a href="#">Address</a></li>
            <li><a href="#">Contact</a></li>
          </ul>
        </div>
        <div class="col-md-4">
          <ul class="list-unstyled">
            <li><a href="/">Home</a></li>
            <li><a href="/about">About</a></li>
            <li><a href="/shop">Shop</a></li>
            <li><a href="contact">Contact</a></li>
          </ul>
        </div>
      </div>
      <div class="row">
        <div class="col-md-12">
          <p class="copyright text-center">Copyright © 2023 Elegance Kurci Palci</p>
        </div>
      </div>
    </div>
  </footer>

  <script>
    document.addEventListener("DOMContentLoaded", function() {
    const darkModeButton = document.getElementById('dark-mode');
    const moonIcon = document.querySelector('.dark');
    const sunIcon = document.querySelector('.light');
    const body = document.querySelector('body');
    const header = document.querySelector('header');
    const sections = document.querySelectorAll('section');

    // Function to toggle dark mode
    function toggleDarkMode() {
        body.classList.toggle('dark-mode');
        header.classList.toggle('dark-mode');
        sections.forEach(section => section.classList.toggle('dark-mode'));
    }

    // Event listener for dark mode button
    darkModeButton.addEventListener('click', function() {
        // Toggle dark mode
        toggleDarkMode();
        
        // Toggle visibility of moon and sun icons
        moonIcon.style.display = 'none';
        sunIcon.style.display = 'block';
    });

    // Event listener for sun icon (light mode)
    sunIcon.addEventListener('click', function() {
        // Toggle dark mode
        toggleDarkMode();
        
        // Toggle visibility of moon and sun icons
        moonIcon.style.display = 'inline-block';
        sunIcon.style.display = 'none';
    });
});
  </script>

  <script src="/js/homepage-script.js"></script>

</body>
</html>