@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #DAD7CD;
    --second-bg-color: #3A5A40;
    --text-color: #fff;
    --main-color: #588157;
    --white-color: #fdfdfd;
    --shadow-color: #344E41;
    --softer-color: #A3B18A;
}

body {
    background-color: var(--bg-color)!important;
    overflow-x: hidden;
}


header {
    padding-top: 10px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 70px;
}

ul {
    padding: 0px!important;
    margin: 0px!important;
}


a {
  text-decoration: none;
}



.header-logo {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px !important; 
}

.header-logo img{
    height: 60px;
    
}

.navigation-bar {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 50px;
}

.menu-item {
    font-size: 20px;
    font-weight: bold;
}

.menu-item a{
    color: var(--softer-color)!important;
}

.menu-item a:hover{
    color: var(--second-bg-color)!important;
    border-bottom: 2px solid var(--second-bg-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    border: none;
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.menu-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 15rem !important;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
    backdrop-filter: blur(5px); /* Add a blur effect */
    border: none;
    border-radius: 5px; /* Add some border-radius for a rounded look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1;
    padding: 10px; /* Add some padding for spacing */
}

.menu-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: var(--softer-color) !important;
    transition: color 0.3s; /* Add a smooth color transition */
}

.dropdown-item:hover {
    text-decoration: underline; /* Add underline on hover */
    text-decoration-color: var(--second-bg-color); /* Match underline color with hover color */
}

.header-buttons {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}

.dark {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.light {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.header-buttons i {
    color: var(--softer-color);
    font-size: 30px;
}

.header-buttons i:hover{
    color: var(--second-bg-color)!important;
}

section{
    height: 100vh;
    width: 100%;
    background: repeating-linear-gradient(
  45deg,
  #DAD7CD,
  #DAD7CD 20px,
  #EAE6DB 20px,
  #EAE6DB 40px
);

}

.homepage-main {
    display: flex;
    height: 720px;
}

.homepage-left {
    position: absolute;
    left: 200px;
    bottom: 0;
    z-index: 2;
}

.homepage-left img{
    height: 80vh;
}

.homepage-right {
    position: absolute;
    right: 200px;
    bottom: 0;
    z-index: 2;
}

.homepage-right img{
    height: 80vh;
}

.homepage-middle {
    padding-top: 10px;
    width: 100%;
    height: 900px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.homepage-middle .image img {
    height: 600px;
}

.cssbuttons-io-button {
    background: var(--main-color);
    color: white;
    font-family: inherit;
    padding: 0.35em;
    padding-left: 1.2em;
    font-size: 17px;
    font-weight: 500;
    border-radius: 0.9em;
    border: none;
    letter-spacing: 0.05em;
    display: flex;
    align-items: center;
    box-shadow: inset 0 0 1.6em -0.6em var(--shadow-color);
    overflow: hidden;
    position: relative;
    height: 2.8em;
    padding-right: 3.3em;
    cursor: pointer;
  }
  
  .cssbuttons-io-button .icon {
    background: white;
    margin-left: 1em;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 2.2em;
    width: 2.2em;
    border-radius: 0.7em;
    box-shadow: 0.1em 0.1em 0.6em 0.2em var(--shadow-color);
    right: 0.3em;
    transition: all 0.3s;
  }
  
  .cssbuttons-io-button:hover .icon {
    width: calc(100% - 0.6em);
  }
  
  .cssbuttons-io-button .icon i {
    width: 1.1em;
    font-size: 1.8rem;
    transition: transform 0.3s;
    color: var(--second-bg-color);
  }
  
  .cssbuttons-io-button:hover .icon svg {
    transform: translateX(0.1em);
  }
  
  .cssbuttons-io-button:active .icon {
    transform: scale(0.95);
  }

  .custom-shape-divider-bottom-1712760248 {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    line-height: 0;
    z-index: 99;
    
}

.custom-shape-divider-bottom-1712760248 svg {
    position: relative;
    display: block;
    width: calc(100% + 1.3px);
    height: 67px;
    z-index: 99;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
}

.custom-shape-divider-bottom-1712760248 .shape-fill {
    fill: var(--main-color);
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
}

.hero-section.dark-mode {
    background: repeating-linear-gradient(
        45deg,
        #1a1a1a,
        #1a1a1a 20px,
        #1d1d1d 20px,
        #1d1d1d 40px
      );
      

    color: #fff !important;
}


.discount-row {
    position: relative;
    white-space: nowrap; /* Prevent text from wrapping */
    overflow: hidden;
}

.discount-text {
    display: inline-block;
    animation: moveRight 7s linear infinite; /* Adjust animation duration and timing function as needed */
}

@keyframes moveRight {
    0% {
        transform: translateX(-100%); /* Start from the left side of the viewport */
    }
    100% {
        transform: translateX(calc(100% + 100vw)); /* Move to the right side of the viewport */
    }
}

  /*===== CARD =====*/

  .best-sellers {
    width: 100%;
    height: 100vh;
    background-color:var(--main-color) ;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
  }

  .main-title {
    padding-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    
  }

  .main-title h1{
    color: white;
    font-size: 40px;
    font-weight: bold;
  }

  
.sellers img {
  max-width: 100%;
  height: 100%;
  user-select: none;
}

  .sellers {
    padding-top: 80px !important;
    height: auto;
    width: 100%;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    overflow-x: hidden;
  }
  .card {
    position: relative;
    padding: 1rem !important;
    width: 350px;
    height: 600px !important;
    justify-content: center;
    box-shadow: -1px 15px 30px -12px rgb(32, 32, 32);
    border-radius: 0.9rem !important;
    background-color: var(--second-bg-color) !important;
    color: var(--text-color) !important;
    border: 0 !important;
    cursor: pointer;
    align-items: center;
  }
  
  .product-image {
    height: 230px;
    width: 100%;
    display: flex;
    filter: drop-shadow(5px 10px 15px rgba(8, 9, 13, 0.4));
    justify-content: center;
  }
  .product-info {
    text-align: center;
  }
  
  .product-info h2 {
    font-size: 1.4rem;
    font-weight: 600;
  }
  .product-info p {
    font-size: 0.8rem;
    font-weight: 600;
  }
  
  @media screen and (max-width: 800px) {
    body {
      height: auto;
    }
    .container {
      padding: 2rem 0;
      width: 100%;
      flex-direction: column;
      gap: 3rem;
    }
  }
  
  .cssbuttons-io-button {
    margin-top: 0.8rem;
    width: 200px;
  }

.title h1{
    font-size: 30px;
    font-weight: bold;
}


.product-image img {
    position: absolute;
    width: auto;
    backface-visibility: hidden;
    z-index: 1; 
  }

  .product-image img:last-child {
    opacity: 0; /* Initially hidden */
    transition: opacity 0.5s ease; /* Smooth transition */
    z-index: 2; /* Ensure the second image is above the first */
  }
  
.product-image img:last-child {
    opacity: 0; /* Initially hidden */
  }
  
  @keyframes flip {
    0% {
      transform: rotateY(0deg);
      opacity: 1;
    }
    50% {
      transform: rotateY(90deg);
      opacity: 0;
    }
    51% {
      transform: rotateY(-90deg);
      opacity: 0;
    }
    100% {
      transform: rotateY(0deg);
      opacity: 0;
    }
  }
  
  .product-image:hover img:first-child {
    animation: flip 1s ease;
    opacity: 0;
  }
  
  .product-image:hover img:last-child {
    opacity: 1; /* Second image appears when hovering */
  }


















@media (max-width: 1439px) {
    .middle {
        height: 700px;
    }

    .middle .image img {
        height: 400px;
    }
    
    .left {
        left: 100px;
    }

    .right {
        right: 100px;
    }

    .sellers {
      padding-top: 50px !important;
    }
}


@media (max-width: 1366.98px){
    .card {
      width: 270px;
      height: 400px !important;
      text-align: center;
    }

    .title h1 {
      font-size: 24px;
      font-weight: bold;
  }
}

@media (max-width: 1199.98px) {
    .middle {
        height: 650px;
    }

    .left {
        left: 50px;
    } 
    
    .right {
       right: 50px; 
    }

    .card {
      width: 300px;
      text-align: center;
      height: 450px !important;
    }

}

@media (max-width: 991.98px) {
    .left {
        left: 0px;
    }

    .right {
        right: 0px;
    }
    
    .card {
      width: 250px;
    }

    .title h1 {
      font-size: 20px;
      font-weight: bold;
  }
}

@media (max-width: 879.98px) {
    .left {
        display: none; 
    }

    .right {
        display: none;
    }

    .navigation-bar {
        display: none;
    }

}