@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box ;
    text-decoration: none;
    border: none;
    outline: none;
    scroll-behavior: smooth;
    font-family: 'Poppins', sans-serif;
}

:root{
    --bg-color: #DAD7CD;
    --second-bg-color: #3A5A40;
    --text-color: #fff;
    --main-color: #588157;
    --white-color: #fdfdfd;
    --shadow-color: #344E41;
    --softer-color: #A3B18A;
}

body {
    background-color: var(--bg-color)!important;
    overflow-x: hidden;
}


header {
    padding-top: 10px;
    position: fixed;
    z-index: 9999;
    width: 100%;
    height: 70px;
}

ul {
    padding: 0px!important;
    margin: 0px!important;
}


a {
  text-decoration: none;
}



.header-logo {
    height: 50px;
    width: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-left: 90px !important; 
}

.header-logo img{
    height: 60px;
    
}

.navigation-bar {
    display: flex;
    justify-content: center;
    gap: 50px;
    align-items: center;
    height: 50px;
}

.menu-item {
    font-size: 20px;
    font-weight: bold;
}

.menu-item a{
    color: var(--softer-color)!important;
}

.menu-item a:hover{
    color: var(--second-bg-color)!important;
    border-bottom: 2px solid var(--second-bg-color);
}

.dropdown-menu {
    display: none;
    position: absolute;
    background-color: var(--bg-color);
    border: none;
    z-index: 1;
}

.dropdown-menu li {
    padding: 10px;
}

.menu-item:hover .dropdown-menu {
    display: block;
}

.dropdown-menu {
    min-width: 15rem !important;
    display: none;
    position: absolute;
    background-color: rgba(255, 255, 255, 0.9); /* Add a semi-transparent white background */
    backdrop-filter: blur(5px); /* Add a blur effect */
    border: none;
    border-radius: 5px; /* Add some border-radius for a rounded look */
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    z-index: 1;
    padding: 10px; /* Add some padding for spacing */
}

.menu-item:hover .dropdown-menu {
    display: block;
}

.dropdown-item {
    color: var(--softer-color) !important;
    transition: color 0.3s; /* Add a smooth color transition */
}

.dropdown-item:hover {
    text-decoration: underline; /* Add underline on hover */
    text-decoration-color: var(--second-bg-color); /* Match underline color with hover color */
}

.header-buttons {
    display: flex;
    height: 50px;
    justify-content: center;
    align-items: center;
    
}

.dark {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.light {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.profile {
    height: 40px;
    width: 40px;
    border-radius: 6px;
    background-color: rgba(0, 0, 0, 0);
}

.header-buttons i {
    color: var(--softer-color);
    font-size: 30px;
}

.header-buttons i:hover{
    color: var(--second-bg-color)!important;
}


section{
    height: 100vh;
    width: 100%;
    background-color:var(--main-color) ;
    background-image: radial-gradient(rgba(255, 255, 255, 0.171) 2px, transparent 0);
    background-size: 30px 30px;
    background-position: -5px -5px
}

section.dark-mode {
    background: repeating-linear-gradient(
        45deg,
        #1a1a1a,
        #1a1a1a 20px,
        #1d1d1d 20px,
        #1d1d1d 40px
      );
      

    color: #fff !important;
}

.padding-top{
    padding-top:100px;
}

.shop-left {
    display: flex;
    align-items: center;
    justify-content: center;
}

.shop-middle {
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    text-transform: uppercase;
}

.shop-middle h2{
    text-align: center;
    font-size: 60px;
    font-weight: 600;
}

.shopping-cart {
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-items: center;
}

.open-modal-btn{
    max-width: 300px!important;
    height: 60px;
    padding: 17px 40px;
    border-radius: 50px;
    cursor: pointer;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 15px;
    transition: all 0.5s ease;
  }
  

.open-modal-btn:hover {
    letter-spacing: 3px;
    background-color: var(--shadow-color);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--shadow-color);
  }
  

.open-modal-btn:active {
    letter-spacing: 3px;
    background-color: var(--shadow-color);
    color: hsl(0, 0%, 100%);
    box-shadow: var(--shadow-color);
    transform: translateY(10px);
    transition: 100ms;
  }
  

.custom-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0,0,0,0.1);
}
.custom-modal-content {
    background-color: white;
    margin: 15% auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    max-width: 600px;
}

.shop-main {
    display: flex;
    flex-direction: row; 
}


  .payment-button {
    text-decoration: none;
    line-height: 1;
    border-radius: 1.5rem;
    overflow: hidden;
    position: relative;
    box-shadow: 10px 10px 20px rgba(0,0,0,.05);
    background-color: #fff;
    color: #121212;
    border: none;
    cursor: pointer;
  }
  
  .payment-button-decor {
    position: absolute;
    inset: 0;
    background-color: var(--clr);
    transform: translateX(-100%);
    transition: transform .3s;
    z-index: 0;
  }
  
  .payment-button-content {
    display: flex;
    align-items: center;
    font-weight: 600;
    position: relative;
    overflow: hidden;
  }
  
  .payment-button__icon {
    width: 48px;
    height: 40px;
    background-color: var(--clr);
    display: grid;
    place-items: center;
  }
  
  .payment-button__text {
    display: inline-block;
    transition: color .2s;
    padding: 2px 1.5rem 2px;
    padding-left: .75rem;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    max-width: 150px;
  }
  
  .payment-button:hover .button__text {
    color: #fff;
  }
  
  .payment-button:hover .button-decor {
    transform: translate(0);
  }
  .sorting-container {
    display: flex;
    flex-direction: column;
    height: 600px;
    width: 100%;
    color: white;
    border: 2px solid var(--shadow-color);
    filter: drop-shadow(3px 4px 6px rgba(0,0,0,0.4));
    border-radius: 15px;
    background-color: var(--shadow-color);
    padding: 10px;
    margin-left: 30px;
  }


  .sorting-container.dark-mode {
    background-color: black;
  }
  .sorting-options {
    display: flex;
    flex-direction: column;
  }

  .sorting-options div {
    margin-bottom: 5px;
  }

  .sorting-options label {
    margin-left: 5px;
  }

  .sort-title {
    font-size: 20px;
    font-weight: 600;
  }







  .product-container {
    position: relative;
    gap: 30px;
    margin-bottom: 20px;
}

.product-list {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    filter: drop-shadow(6px 6px 6px rgba(0,0,0,0.6));
}

.product-container .product-card {
    position: relative;
    width: 320px;
    height: 450px;
    background: var(--main-color);
    border-radius: 20px;
    overflow: hidden;
}

.product-container .product-card:before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: var(--shadow-color);
    clip-path: circle(150px at 80% 20%);
    transition: 0.5s ease-in-out;
}

.product-container .product-card:hover:before {
    clip-path: circle(300px at 80% -20%);
}

.product-container .product-card:after {
    content: "ELEGANZA";
    position: absolute;
    top: 30%;
    left: -20%;
    font-size: 12em;
    font-weight: 800;
    font-style: italic;
    color: rgba(255, 255, 255, 0.04);

}

.container .card .imgBx {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    z-index: 1000;
    width: 100%;
    height: 100%;
    transition: .5s;
}

.product-container .product-card .imgBx img {
    position: relative;
    height: auto;
    width: 230px;
    display: flex;
    margin: auto;
    padding-top: 20px;
}

.product-container .product-card .contentBx {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 100px;
    text-align: center;
    transition: 1s;
    z-index: 90;
}

.product-container .product-card:hover .contentBx {
    height: 210px;
}

.product-container .product-card .contentBx h2 {
    position: relative;
    font-size: 30px;
    font-weight: 500;
    letter-spacing: 1px;
    color: #fff;
}

.product-container .product-card .contentBx .size,
.product-container .product-card .contentBx .price {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 2px;
    transition: .5s;
    opacity: 0;
    visibility: hidden;
}

.product-container .product-card:hover .contentBx .size {
    opacity: 1;
    visibility: visible;
    transition-delay: .5s;
}

.product-container .product-card:hover .contentBx .price {
    opacity: 1;
    visibility: visible;
    transition-delay: .6s;
}

.product-container .product-card .contentBx .size h3,
.product-container .product-card .contentBx .price h3 {
    margin-bottom: 0!Important;
    color: white;
    font-weight: 300;
    font-size: 15px;
    text-transform: uppercase;
    letter-spacing: 2px;
    margin-right: 10px;
}

.product-container .product-card .contentBx .size span {
    width: 26px;
    text-align: center;
    line-height: 26px;
    font-size: 15px;
    display: inline-block;
    color: white;
    transition: .5s;
    color: #111;
    border-radius: 4px;
    cursor: pointer;
}

.product-container .product-card .contentBx .price span {
    width: 26px;
    color: white;
    font-size: 25px;
    cursor: pointer;
}
.product-container .product-card .contentBx button {
    display: inline-block;
    padding: 10px 20px;
    background: #fff;
    border-radius: 4px;
    margin-top: 10px;
    text-decoration: none;
    font-weight: 600;
    color: #111;
    opacity: 0;
    transform: translateY(50px);
    transition: .5s;
}

.product-container .product-card:hover .contentBx button {
    opacity: 1;
    transform: translateY(0px);
    transition-delay: .7s;
} 